<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="pgrperspective.PerspectivePGR"
            icon="icons/releng_gears.gif"
            id="PGRperspective.perspective1"
            name="PGR">
      </perspective>
   </extension>

</plugin>
